<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>BUILD YOUR NEW Pokemon</h1>
    <form action="/pokemon" method="POST">
        <input  name="name"   type="text" placeholder="name">
        <input  name="img"    type="text" placeholder="image link">
        <input  name="type"   type="text" placeholder="pokemon type"> <br>
        <input  name="hp"     type="text" placeholder="health point">
        <input name="attack"  type="text" placeholder="attack stat"> <br>
        <input name="defense" type="text" placeholder="defense stat">
        <input name="speed"   type="text" placeholder="speed stat">
        <input type="submit" value="SPAWN">
    </form>
</body>
</html>
